 {% extends "layout.html" %}

 {% block content %}
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
    


    <!-- Store Flask data as a JavaScript variable -->
    <script>
        const labels = JSON.parse('{{ labels | tojson | safe }}');
        const chartData = JSON.parse('{{ data | tojson | safe }}');
        const labelName = JSON.parse('{{ label_name | tojson | safe }}');

        const data = {
            labels: labels,
            datasets: [{
                label: labelName,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: chartData,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: { maintainAspectRatio: false }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>

{% endblock %}